$whiteOne: #f7f2f2;
$whiteTwo: #C8D3D5;
$whiteThree: #FCFAFA;

$greyOne: #A4B8C4;
$greyTwo: #6E8387;
$greyThree: #899EA6;

$blackOne: #090B0B;
$blackTwo: #121616;
$blackThree: #282c34;

$brownOne: #4C4343;

